*{box-sizing:border-box}

html,body{margin:0;padding:0;font-family:'Times New Roman', Times, serif}
h3{font-size:20pt}.container{width:95vw;margin:auto}
.row{padding-top:2rem;display:grid;grid-template-columns:2fr;grid-template-rows:2fr 2fr}
.col{padding-bottom:2rem}
.whitespace{height:3rem}
@media (min-width: 768px){.row{display:grid;grid-template-rows:2fr;grid-template-columns:2fr 2fr}
.closepage{width:12vw;height:7vw !important;font-size:25pt}
.formReg1{grid-template-rows:15fr 1fr !important;padding-top:2rem;padding-bottom:2rem}
.thanks{width:70vw;margin:auto;height:40vw}
.thankyou{text-align:center;padding:2rem}}
@media (min-width: 1900px){.container{width:100vw !important}
.thanks{width:50vw;margin:auto;height:20vw}.tillbaka{width:12vw !important;height:2.5vw !important;font-size:20pt}
.formReg1{grid-template-rows:15fr 1fr !important;padding-top:2rem;padding-bottom:2rem}}
#firstname{color:#b6b6b6}
#lastname{color:#b6b6b6}
#exampleInputEmail1{color:#b6b6b6}
#exampleInputPassword1{color:#b6b6b6}
#exampleInputPassword2{color:#b6b6b6}
.button-center{padding-top:1rem;display:flex;justify-content:center}
.colorbutton{background-color:#eedf88;border:none}
.line1{height:5px;background-color:#070600;margin-bottom:3rem}
.bottom{margin-bottom:2rem}
.linktext{color:#eedf88;text-decoration:underline}
.thanks{border:2px solid #eedf88;border-radius:10px;display:grid;grid-template-columns:1fr;grid-template-rows:3fr 1fr;justify-items:center;margin-top:8rem}
.thankyou{text-align:center;padding:2rem}
.closepage{background-color:#eedf88;border-radius:8px;text-align:center;width:40vw;height:7vw}
.closepage p{color:#ffffff;text-decoration:none}
.home{text-align:center}
.centrerade{display:grid;grid-template-columns:1fr;grid-template-rows:27fr 1fr;justify-items:center;margin:auto}
.gdpr{text-align:center}.welcome{padding-top:2rem;text-align:center}
.formReg1 h2{color:#242424}
.space{padding-bottom:1rem}
